<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Je Développe | {% block title %}{% endblock %}</title>

    {# Meta Description for SEO #}
    <meta name="description" content="{% block meta_description %}Je Développe, le petit site qui regroupe toutes mes diverses connaissances !{% endblock %}">

    {# Favicon for multiple devices #}
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="JeDév" />
    <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}" />
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>



        {# {% include "./site/components/_flash_message.html.twig" %} #}
    <div class="container-fluid">
        {% include "_nav.html.twig" %}
        {% block body %}{% endblock %}
    </div>
    
    {# {% include "./site/components/_footer.html.twig" %} #}

    <script src="https://kit.fontawesome.com/39dfe16fa3.js" crossorigin="anonymous" async></script>
    {# {% include "site/components/_googleAnalytics.html.twig" %} #}


</body>
</html>
